* {
    margin: 0;
    box-sizing: border-box;
}
body {
    overflow: hidden;
}
header {
    background-color: thistle;
    height: 100px;
}
h1 {
    margin: auto;
    padding-top: 25px;
}
.centerd {
    text-align: center;
}
.result-container {
    display: flex;
    height: 250px;
    background-color: wheat;
    
}
.name-container {
    height: 200px;
    flex-grow: 3;
}
.name-container img {
    width: 130px;
    margin: auto;
    padding-left: 40px;
    padding-top: 30px;
}
#human-img {
    width: 200px;
}
.selected-item-human {
    height: 200px;
    flex-grow: 3;
    max-width: 150px;
}
.selected-item-computer {
    height: 200px;
    flex-grow: 3;
    max-width: 150px;
}
.score-container {
    height: 200px;
    flex-grow: 3;
    display: flex;
    flex-direction: column;
}
.button-container {
    background-color: wheat;
    height: 230px;
    display: flex; 
}
.selectionButton {
    flex-grow: 1;
    font-size: 25px;
}
.new-game {
    flex-grow: 1;
    font-size: 25px;
}
.point {
    height: 30px;
    width: 100px;
    border: black solid 1px;
    margin: auto;
    background-color: white;
}
footer {
    min-height: 250px;
    background-color: teal;
}